body {
    background-color: rgb(51, 57, 107);
    margin: 20px;
    padding: 20px;
    color: antiquewhite;
}

.nav {
    background-color: rgb(245, 240, 241);
    font-weight: 600;
}
.counter {
    margin: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 40%;
}
.counter > p {
    align-content: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    
}
.flex-container > div {
    width: 200px;
    height: 200px;
    margin: 20px;
}
.flex-container > div > img {
    width: 100%;
    height: 100%;
}

#report {
    margin: 2%;
    padding: 2%;
    justify-content: center;
    line-height: 50px;
    font-family: sans-serif;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
    background-color: rgb(24, 23, 23);
    color: white;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td {
    padding: 30px;

}
th {
    padding: 15px;
}

tbody :hover, thead :hover{
    background-color: rgb(17, 17, 17);
}

#table {
    margin-top: 100px;
    margin-bottom: auto;
}

td :hover{
    font-size: xx-large;
}